# ============ TELEGRAM BOT ============
# Get these from @BotFather on Telegram
TELEGRAM_BOT_TOKEN=8755253510:AAEPjdZWMxPvJeO0J7uWQ9h6ew7mocIxkTA
TELEGRAM_BOT_USERNAME=@rodkemumaBot

# ============ DATABASE ============
# PostgreSQL connection
DATABASE_URL=postgresql://postgres:rodah@localhost:5432/chama_db
DB_HOST=localhost
DB_PORT=5432
DB_NAME=chama_db
DB_USER=postgres
DB_PASSWORD=rodah

# ============ REDIS ============
# For session storage (optional)
REDIS_URL=redis://localhost:6379

# ============ M-PESA / DARAJA ============
# From Safaricom Daraja portal (for M-Pesa STK Push)
MPESA_CONSUMER_KEY=wmIBohghC2M8GMdQXVE8kfD0dcjWoqUjUHkMvTsjQ9Rsj5YD
MPESA_CONSUMER_SECRET=n8ESdVoWlFjFgtdprB6iR9JAqFGGcd09BleeG4rpshkhEVjEzuQIGZEGDWXmDTue
MPESA_BUSINESS_SHORTCODE=123456
MPESA_PASSKEY=bfb279f9aa9bdbcf158e97dd71a467cd2e0c893059b10f78e6b72ada1ed2c919
MPESA_CALLBACK_URL= https://carat-buccaneer-glamorous.ngrok-free.dev/webhook/mpesa

# ============ SERVER ============
PORT=3000
NODE_ENV=development
PUBLIC_URL=http://localhost:3000

# ============ SECURITY ============
JWT_SECRET=ebdbe278f2df94005051eaa3ce731bdd7fc3ff85bcc5585738529606a2ae5cb5e5624430c58daa1
d6e577f573d64db32dfa8dacaedd580552e5dceea23e18b05

